# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.*

# Node (if added later)
node_modules/
dist/
.next/
coverage/
*.tsbuildinfo
.vercel
